@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #ffffff;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

:root {
  background-color: #020617;
  color: white;
}


